.container{
  padding: 1em 1em;
  transition: 0.2s ease;
}

.container:hover{
  border-color: var(--colorBackgroundTheme2);
  //transform: scale(1.01);
}

.task-title-container{
  display: inline-block;
  margin: 0.5em 1em;
  vertical-align: middle;
}

.toggle-task-button{
  display: inline-block;
  float: right;
  font-size: 30px;
  vertical-align: middle;
}

.fa-plus-circle{
  transition: 0.3s ease;
}

.toggled-task{
  transform: rotateZ(135deg);
}

.details-table{
  width: 100%;
  border: solid 1px var(--colorBackgroundTheme2);
}
.information-column{
  width: 20%;
  border-right: solid 1px var(--colorBackgroundTheme2);
  text-align: left;
}

.description-column{
  width: 80%;
}

.details-information-table{

}


