.container{
  padding: 1em 1em;
  border-radius: 5px;
  margin: 0 0;
  transition: 0.2s ease-out;
}

.container:hover{
  border-color: var(--colorBackgroundTheme2);
  //transform: scale(1.01);
}

.task-details-container{
  margin-top: 15px;
}

.task-title-container{
  display: inline-block;
  margin: 0.5em 1em;
  vertical-align: middle;
}

.toggle-task-button{
  display: inline-block;
  padding: 0 10px;
  float: right;
  font-size: 30px;
  vertical-align: middle;
  cursor: pointer;
}

.fa-plus-circle{
  transition: 0.3s ease;
}

.toggled-task{
  transform: rotateZ(135deg);
}

.details-table{
  width: 100%;
  border: solid 1px var(--colorBackgroundTheme2);
  border-radius: 5px;
}

.information-column{
  width: 20%;
  border-right: solid 1px var(--colorBackgroundTheme2);
  text-align: left;
}

.description-column{
  width: 80%;
}

.details-information-table{

}

.details-description-table{

}


