<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap" rel="stylesheet">
<app-loading-component [loadingText]='loadingService.loadingText' [isVisible]='loadingService.isLoading'></app-loading-component>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <button class="button button--size-s button--border-thin"><i class="fa fa-hourglass-o"></i>Charge</button>
</div>
<h2>Here are some links to help you start: </h2>
<app-task-component></app-task-component>

