/* You can add global styles to this file, and also import other style files */
/* Here we put all scss variables used for theme the app
// /!\ Important /!\
// When you code SCSS files out of this one, always use variables from this file
// Thanks :)
*/
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

:root {
  --colorBackgroundTheme1: black;
  --colorBackgroundTheme2: white;
  --colorFontTheme1: #FF6464; /*rouge saumon*/
  --colorFontTheme2: #535656; /* gris foncé */
  --colorFontTheme3: #e2dcdc; /* gris clair */
  --colorFontTheme4: #65bf84; /* vert pastel validate*/
  --colorFontTheme5: #d82f2f; /* rouge pastel error */

  --fontSize1 : 40px;
  --fontSizeButton1: 17px;
  --fontFamily1: 'Montserrat', sans-serif;
  --fontFamily2: 'Roboto', sans-serif;

}

@font-face {
  font-family: 'Azonix';
  src: url('/src/assets/fonts/Azonix.otf') format('opentype');
}

body{
  background-color: var(--colorBackgroundTheme1);
  color: var(--colorFontTheme3);
  font-family: var(--fontFamily1);
}

h1 {
  font-family: var(--fontFamily1);
}

h2 {
  font-family: var(--fontFamily2);
  text-align: justify;
}

h6{
  color: var(--colorFontTheme1);
  font-size: var(--fontSize1);
  display: inline;
}
/*
  Style button 1
*/
/* Common button styles */
.button {
  min-width: 150px;
  max-width: 250px;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  font-family: var(--fontFamily1);
  font-size: var(--fontSizeButton1);
}

.button:focus {
  outline: none;
}

.button > span {
  vertical-align: middle;
}

/* Sizes */
.font-size-s {
  font-size: 14px;
}

.font-size-m {
  font-size: 18px;
}

.font-size-l {
  font-size: 20px;
}

/* Typography and Roundedness */
.button--text-upper {
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-thin {
  font-weight: 300;
}

.text-medium {
  font-weight: 500;
}

.text-thick {
  font-weight: 600;
}

.button--round-s {
  border-radius: 5px;
}

.button--round-m {
  border-radius: 15px;
}

.button--round-l {
  border-radius: 40px;
}

/* Borders */
.button--border-thin {
  border: 1px solid;
}

.button--border-medium {
  border: 2px solid;
}

.button--border-thick {
  border: 3px solid;
}

.button--fontColor1{
  color:var(--colorFontTheme1);
  border-color: var(--colorFontTheme1);
}

.button--fontColor1 i{
  color:var(--colorFontTheme1) !important;
}

.button--fontColor4{
  color:var(--colorFontTheme4);
  border-color: var(--colorFontTheme4);
}

.button--fontColor4 i{
  color:var(--colorFontTheme4) !important;
}

.button--fontColor5{
  color:var(--colorFontTheme5);
  border-color: var(--colorFontTheme5);
}

.button--fontColor5 i{
  color:var(--colorFontTheme5) !important;
}

.button--anim1{
  background-color: var(--colorBackgroundTheme1);
  transition: 0.2s ease-out;
}

.button--anim1:hover{
  color: var(--colorFontTheme2);
  border-color: var(--colorBackgroundTheme2);
  background-color: var(--colorBackgroundTheme2);
  transform: scale(1.1);
  cursor: pointer;
}

.spin-180{
  transition: 0.3s ease;
}

.button:hover .spin-180{
 transform: rotateZ(180deg);

}

.spin-360{
  transition: 0.3s ease;
}

.button:hover .spin-360{
  transform: rotateZ(360deg);

}
